node_red_flows.json
[
    {
        "id": "94de1893a1c8d844",
        "type": "tab",
        "label": "Dashboard pwr",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "30729e81ba50be75",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse0/avg_temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 40,
        "wires": [
            [
                "a1ed111fbeb51552"
            ]
        ]
    },
    {
        "id": "ac550188dc5b66b1",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse0/alarm",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "6bb5ef5a60671cef"
            ]
        ]
    },
    {
        "id": "f85ca74156455f40",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse0/max_smoke",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "8ad73eeb2c2b9762"
            ]
        ]
    },
    {
        "id": "4d2df041a0d18a6c",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse0/avg_humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "737042db037bde60"
            ]
        ]
    },
    {
        "id": "66da6e5c4a389ed0",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse0/avg_polution",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "cb8cceea041973e2"
            ]
        ]
    },
    {
        "id": "77452fd856c25dca",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse1/avg_temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 40,
        "wires": [
            [
                "ad9ad3c2eb0dc4dc"
            ]
        ]
    },
    {
        "id": "e1302e1254afea27",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse1/alarm",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "8b01866ebca14369"
            ]
        ]
    },
    {
        "id": "8b14a2f6b9d0eff0",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse1/max_smoke",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 120,
        "wires": [
            [
                "056a9eaf50542b8e"
            ]
        ]
    },
    {
        "id": "af147dea074a67a4",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse1/avg_humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 80,
        "wires": [
            [
                "0f16cf37588a5df5"
            ]
        ]
    },
    {
        "id": "9cec49ec44694e76",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse1/avg_polution",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 160,
        "wires": [
            [
                "f7388a298eeae718"
            ]
        ]
    },
    {
        "id": "2de463595d9a97d4",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse2/avg_temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 40,
        "wires": [
            [
                "eb49ff629740c420"
            ]
        ]
    },
    {
        "id": "7157069005bb613f",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse2/alarm",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 220,
        "wires": [
            [
                "e416cbbbe288d20f"
            ]
        ]
    },
    {
        "id": "a3e63133c42fe350",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse2/max_smoke",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 120,
        "wires": [
            [
                "b098d0c70b9cbf96"
            ]
        ]
    },
    {
        "id": "90dde7124e5ee3b0",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse2/avg_humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 80,
        "wires": [
            [
                "7ed2d634357b573f"
            ]
        ]
    },
    {
        "id": "518af2c5a6393c18",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse2/avg_polution",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "5d636b4926434d28"
            ]
        ]
    },
    {
        "id": "458007ae12dc2e65",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse3/avg_temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "7f6cd2c4b3287bb5"
            ]
        ]
    },
    {
        "id": "5133e37610fe5ced",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse3/alarm",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 560,
        "wires": [
            [
                "7029bd92be4574ca"
            ]
        ]
    },
    {
        "id": "b623f67759bc94a1",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse3/max_smoke",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "6d8640a391f52158"
            ]
        ]
    },
    {
        "id": "3a29ef087d5882a4",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse3/avg_humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "2b20323b3f6216b9"
            ]
        ]
    },
    {
        "id": "4e66fb00e5011db0",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse3/avg_polution",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 500,
        "wires": [
            [
                "cd20374127df713a"
            ]
        ]
    },
    {
        "id": "23593a933f7871b8",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse4/avg_temperature",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 740,
        "y": 400,
        "wires": [
            [
                "89e518f726fe6e9f"
            ]
        ]
    },
    {
        "id": "47349d85baeb5e99",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse4/alarm",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 580,
        "wires": [
            [
                "4a83ebec2f9efa87"
            ]
        ]
    },
    {
        "id": "67e5ab95fdf5cc3a",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse4/max_smoke",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "47df8624e4a18ab4"
            ]
        ]
    },
    {
        "id": "3522c32840143c18",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse4/avg_humidity",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 440,
        "wires": [
            [
                "e443183cc986a6ec"
            ]
        ]
    },
    {
        "id": "5a1c791c15114910",
        "type": "mqtt in",
        "z": "94de1893a1c8d844",
        "name": "",
        "topic": "warehouse4/avg_polution",
        "qos": "2",
        "datatype": "utf8",
        "broker": "f29b4610fb6a739f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 750,
        "y": 520,
        "wires": [
            [
                "989db6419c4157c0"
            ]
        ]
    },
    {
        "id": "737042db037bde60",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "57ed24c1855f8bbd",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Wilgotność",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "cb8cceea041973e2",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "57ed24c1855f8bbd",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Zaniczyszczenie powietrza",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 160,
        "wires": []
    },
    {
        "id": "8ad73eeb2c2b9762",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "57ed24c1855f8bbd",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Dym",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 120,
        "wires": []
    },
    {
        "id": "6bb5ef5a60671cef",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "57ed24c1855f8bbd",
        "order": 5,
        "width": 5,
        "height": "2",
        "name": "",
        "label": "",
        "format": "<font class=\"mystyle2\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "className": "font-size=25px } <font class=\"mystyle\">some text 1</font>``` .mystyle2{ font-size=8px }",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 370,
        "y": 220,
        "wires": []
    },
    {
        "id": "0f16cf37588a5df5",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "a7657e098ba418ce",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Wilgotność",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "f7388a298eeae718",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "a7657e098ba418ce",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Zaniczyszczenie powietrza",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "056a9eaf50542b8e",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "a7657e098ba418ce",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Dym",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 780,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b01866ebca14369",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "a7657e098ba418ce",
        "order": 5,
        "width": 5,
        "height": "2",
        "name": "",
        "label": "",
        "format": "<font class=\"mystyle2\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "className": "font-size=25px } <font class=\"mystyle\">some text 1</font>``` .mystyle2{ font-size=8px }",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "7ed2d634357b573f",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "b459b6d7d9cb71ac",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Wilgotność",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 80,
        "wires": []
    },
    {
        "id": "5d636b4926434d28",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "b459b6d7d9cb71ac",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Zaniczyszczenie powietrza",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1250,
        "y": 160,
        "wires": []
    },
    {
        "id": "b098d0c70b9cbf96",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "b459b6d7d9cb71ac",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Dym",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1240,
        "y": 120,
        "wires": []
    },
    {
        "id": "e416cbbbe288d20f",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "b459b6d7d9cb71ac",
        "order": 5,
        "width": 5,
        "height": "2",
        "name": "",
        "label": "",
        "format": "<font class=\"mystyle2\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "className": "font-size=25px } <font class=\"mystyle\">some text 1</font>``` .mystyle2{ font-size=8px }",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1250,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b20323b3f6216b9",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "4c4733ea68862104",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Wilgotność",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "cd20374127df713a",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "4c4733ea68862104",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Zaniczyszczenie powietrza",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 500,
        "wires": []
    },
    {
        "id": "6d8640a391f52158",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "4c4733ea68862104",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Dym",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 360,
        "y": 460,
        "wires": []
    },
    {
        "id": "7029bd92be4574ca",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "4c4733ea68862104",
        "order": 5,
        "width": 5,
        "height": "2",
        "name": "",
        "label": "",
        "format": "<font class=\"mystyle2\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "className": "font-size=25px } <font class=\"mystyle\">some text 1</font>``` .mystyle2{ font-size=8px }",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 370,
        "y": 560,
        "wires": []
    },
    {
        "id": "e443183cc986a6ec",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "09d27c10f39ce83f",
        "order": 2,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Wilgotność",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "989db6419c4157c0",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "09d27c10f39ce83f",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Zaniczyszczenie powietrza",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "47df8624e4a18ab4",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "09d27c10f39ce83f",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Dym",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a83ebec2f9efa87",
        "type": "ui_text",
        "z": "94de1893a1c8d844",
        "group": "09d27c10f39ce83f",
        "order": 5,
        "width": 5,
        "height": "2",
        "name": "",
        "label": "",
        "format": "<font class=\"mystyle2\">{{msg.payload}}</font>",
        "layout": "row-spread",
        "className": "font-size=25px } <font class=\"mystyle\">some text 1</font>``` .mystyle2{ font-size=8px }",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "a1ed111fbeb51552",
        "type": "ui_gauge",
        "z": "94de1893a1c8d844",
        "name": "",
        "group": "57ed24c1855f8bbd",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Hala 0",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 40,
        "wires": []
    },
    {
        "id": "ad9ad3c2eb0dc4dc",
        "type": "ui_gauge",
        "z": "94de1893a1c8d844",
        "name": "",
        "group": "a7657e098ba418ce",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Hala 1",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 40,
        "wires": []
    },
    {
        "id": "eb49ff629740c420",
        "type": "ui_gauge",
        "z": "94de1893a1c8d844",
        "name": "",
        "group": "b459b6d7d9cb71ac",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Hala 2",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1230,
        "y": 40,
        "wires": []
    },
    {
        "id": "7f6cd2c4b3287bb5",
        "type": "ui_gauge",
        "z": "94de1893a1c8d844",
        "name": "",
        "group": "4c4733ea68862104",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Hala 3",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 350,
        "y": 380,
        "wires": []
    },
    {
        "id": "89e518f726fe6e9f",
        "type": "ui_gauge",
        "z": "94de1893a1c8d844",
        "name": "",
        "group": "09d27c10f39ce83f",
        "order": 1,
        "width": 5,
        "height": 5,
        "gtype": "donut",
        "title": "Hala 4",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "f29b4610fb6a739f",
        "type": "mqtt-broker",
        "name": "mqtt_broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "57ed24c1855f8bbd",
        "type": "ui_group",
        "name": "Hala 0",
        "tab": "6fcc944213d5ef24",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7657e098ba418ce",
        "type": "ui_group",
        "name": "Hala 1",
        "tab": "6fcc944213d5ef24",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b459b6d7d9cb71ac",
        "type": "ui_group",
        "name": "Hala 2",
        "tab": "6fcc944213d5ef24",
        "order": 3,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c4733ea68862104",
        "type": "ui_group",
        "name": "Hala 3",
        "tab": "6fcc944213d5ef24",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09d27c10f39ce83f",
        "type": "ui_group",
        "name": "Hala 4",
        "tab": "6fcc944213d5ef24",
        "order": 5,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6fcc944213d5ef24",
        "type": "ui_tab",
        "name": "Warehouse monitor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]